/* Style for the candidate box */
.candidate-box {
  border: 1.5px solid #000000;
  background-color: #8fa4b5dd;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s ease-in-out;
  height: 70px;
  width: 1359px;
  text-align: center;
  padding: 20px 0px 0px 0px;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
}

.candidate-box1 {
  border: 1.5px solid #000000;
  padding: 20px;
  margin: 10px 0;
  margin-left: 2px;
  background-color: #8fa4b5dd;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s ease-in-out;
  height: 290px;
  width: 1300px;
  text-align: center;
  justify-content: center;
}

.candidate-box-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.candidate-box:hover {
  transform: scale(1.08);
  /* Add a slight zoom effect on hover */
}

/* Style for the "Open Profile" button */
.candidate-box button {
  background-color: #0c7ae9;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button {
  background-color: #0c7ae9;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.candidate-box button:hover {
  background-color: #0276f2;
  /* Darker shade on hover */
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; Centers content vertically on the page */
  margin: auto;
}

.center-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.center-container form {
  text-align: center;
}

.center-container label,
.center-container button {
  display: block;
  margin: 10px auto;
}

/* .lastButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  } */

.lastButtons {
  text-align: center;
  /* Center align the buttons horizontally */
  margin-top: 20px;
  /* Add some top margin for spacing */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.lastButtons button {
  padding: 10px 20px;
  /* Add padding to the buttons for spacing */
  margin: 5px;
  /* Add margin around the buttons for spacing */
  border: none;
  /* Remove the default button border */
  cursor: pointer;
  /* Change the cursor to a pointer on hover */
  background-color: #007bff;
  /* Set the background color */
  color: #fff;
  /* Set the text color to white */
  border-radius: 5px;
  /* Add rounded corners to the buttons */
  text-decoration: none;
  /* Remove underlines from links */
}

.lastButtons button:hover {
  background-color: #0056b3;
  /* Change the background color on hover */
}
